@import '~node_modules/modern-normalize/modern-normalize.css';
.country__item__img {
  width: 100px;
}

.country__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.country__item:not(:last-child) {
  margin-bottom: 12px;
}

.country__img {
  width: 300px;
  height: 200px;
}
.country__title {
  font-size: 20px;
}

.title {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.country__thumb {
  display: flex;
  gap: 20px;
}

.country__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
